@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Kanit', sans-serif;

}

/*Al poder el flex el address tambien toma espacio dentro de la zona del body, con lo cual le doy
una posicion absoluta y despues le doy margen al header para que quede bien espaciado*/
address {
    position: absolute;
    top: 0px;
}

main {
    display: flex;
    justify-content: center;

}

#se1 {

    margin-left: 5%;
    
    list-style: none;


}


a {
    font-size: xx-large;
    text-decoration: none;

}


header {
    text-align: center;
    margin-top: 2%;
    width: 100%;
    color: rgb(1, 56, 1);


}

#sub {
    color: rgb(55, 138, 110);
}

#se1 {
    display: flex;
    margin-top: 4%;
    width: 100%;
    height: 100%;

}

#caja1 {
    margin-left: 13%;
    width: 40%;
    height: 100%;
    border-radius: 5%;
    border: solid rgb(93, 93, 93);
    align-items: center;
    padding: 1%;
    padding-bottom: 3.5%;


}

#i1 {

    margin: auto;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    

}

#caja2 {
    width: 25%;
    height: 100%;
    margin-right: 5%;
    margin-left: 2%;
    border-radius: 5%;
    border: solid rgb(93, 93, 93);
    align-items: center;
    padding: 1%;


}

#i2 {
    height: 500px;
    width: 200px;
    margin: auto;
    border-radius: 5%;
    width: 100%;


}

.txt {
    margin-top: 5%;
    text-align: center;
}

#section2 {
    display: flex;
    justify-content: center;
}

.cajas {
    width: 25%;
    height: 100%;
    margin: 1%;
    border-radius: 5%;
    border: solid rgb(93, 93, 93);

    padding: 1%;
}

.img2 {
    height: 500px;
    width: 200px;
    margin: auto;
    border-radius: 5%;
    width: 100%;
}

footer
{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

#Perros
{
    margin-left: 5%;
}

#foot
{
    margin-left: 30%;
   color: rgb(55, 138, 110);
}

#logos
{
    margin-left:20% ;
}
#logo
{
    height: 50px;
    width: 250px;
}